Checks: "*,-fuchsia-*,-llvmlibc-*,-altera-*,-abseil-*,-modernize-use-trailing-return-type,-misc-no-recursion,-modernize-use-nodiscard,-modernize-use-pass-by-value, -readability-convert-member-functions-to-static"